@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background-colour: #eeadad;
    --border-colour: #ff0000;
    --content-background: #e5e5e5;
}

.header {
    background-color: var(--background-colour);
    @apply flex justify-between md:p-4 shadow-lg fixed w-screen top-0 z-10;
}

.header h1 {
    @apply invisible md:visible;
}

.navbar {
    background-color: var(--background-colour);
    @apply flex justify-between invisible md:visible;
}

.navitem {
    background-color: var(--background-colour);
}

.navitem:hover {
    color: var(--border-colour);
}

.menu-icon {
    background-color: var(--background-colour);
    @apply md:hidden max-h-5 m-5;
}

.main-content {
    min-height: 90vh;
    @apply mt-12 pt-2;
}

.home-biography {
    @apply hidden md:flex justify-center mt-20;
}

.home-biography h2 {
    align-self: center;
}

.about-me-biography {
    @apply flex justify-center mt-20 h-[40vb] w-[80%] md:w-[100%];
}

.about-me-biography h2 {
    align-self: center;
    @apply text-wrap;
}

.about-me h2 {
    align-self: center;
    @apply text-wrap;
}

.about-me-section {
    @apply flex flex-col md:text-center bg-gray-300 pb-[2vb];
    border-top: var(--border-colour);
    border-top-width: 1px;
    border-style: solid;
    min-height: 40vb;
}

.about-me-section h2 {
    @apply font-semibold pt-5 pl-2 md:pl-0;
}

.about-me-section p {
    @apply pl-2 md:pl-0 text-start md:text-center mb-[0.5vb];
}

.about-me-section ul {
    @apply list-disc space-y-2
           w-fit mx-auto
           pl-4;
}

.about-me-section li {
    @apply text-left;
}

.profile-picture {
    @apply max-h-96;
}

.about-profile-picture {
    @apply max-w-[60%] rounded-full;
}

.dashboard {
    @apply grid grid-cols-1 md:grid-cols-2 gap-4 p-4 overflow-y-scroll md:mt-2;
}

.dashboard-item {
    background-color: var(--content-background);
    border-color: var(--border-colour);
    border-style: solid;
    border-width: 1px;
    @apply min-h-32 min-w-60 drop-shadow-lg;
}

/* Slightly adjusted tailwind shadow */
.dashboard-item:hover {
    --tw-shadow: 0 7px 15px -3px rgb(0 0 0 / 0.25),
        0 7px 15px -4px rgb(0 0 0 / 0.25);
    --tw-shadow-colored: 0 5px 10px -3px var(--tw-shadow-color),
        0 4px 4px -4px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
        var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.dashboard-item-title {
    background-color: var(--background-colour);
    border-color: var(--border-colour);
    border-style: solid;
    border-width: 1px;
    @apply p-2 max-w-60;
}

.dashboard-item-description {
    background-color: var(--content-background);
    border-color: var(--border-colour);
    border-style: solid;
    border-width: 1px;
    @apply p-2 min-h-32 min-w-60;
}

.dark-background {
    background: black;
    opacity: 75%;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 30;
}

.dark-background-low {
    background: black;
    opacity: 75%;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 10;
}

.popup {
    @apply fixed z-20 inset-0 bg-white rounded-lg shadow-lg flex flex-col items-center m-auto max-w-[80%] max-h-[75vb] md:max-w-[50%] md:max-h-[50%] overflow-y-scroll;
}

.popup-title {
    @apply font-bold text-xl mb-[1.5rem];
}

.popup-description {
    @apply m-[2.5%] mb-[10%];
    text-align: center;
}

.project-technology-used-title {
    @apply font-bold;
    border-bottom: black;
    border-bottom-width: 1px;
    border-style: solid;
}

.project-technology-used-list {
    @apply flex flex-col flex-wrap 
           gap-2 px-4
           justify-start items-center w-[80%] mt-[1%];
}

.project-technology-used-list p {
    @apply bg-gray-100 py-1 px-4
           rounded-full
           text-sm;
}

.project-visit-github-link {
    background-color: var(--background-colour);
    width: 100%;
    padding: 1%;
    margin-top: auto;
    text-align: center;
}

.resume-article {
    @apply flex flex-col justify-center items-center bg-gray-300 mt-[2.5vb] mb-[2.5vb] shadow-black shadow-md pb-4 w-[80%] m-[10%] rounded-md;
}

.resume-article h2 {
    @apply font-extrabold p-4 underline;
}

.resume-article h3 {
    @apply font-semibold pt-3 underline;
}

.resume-article p {
    @apply pl-4 max-w-[80%] md:max-w-[75%] text-left text-wrap;
}

.resume-article ul {
    @apply list-disc space-y-2
           w-fit mx-auto
           pl-4;
}

.note {
    @apply font-serif;
}

.form {
    @apply shadow-sm shadow-black w-3/4 border-black self-center m-auto flex flex-col;
    margin-top: 5vb;
    margin-bottom: 5vb;
    border-style: solid;
    border-width: 1px;
    height: 70vb;
}

.form-label {
    @apply bg-gray-300 w-full md:text-center pl-1 md:p-0 font-semibold;
    border-style: solid;
    border-bottom-width: 1px;
}

.form-input {
    vertical-align: text-top;
    border-style: solid;
    border-color: black;
    border-bottom-width: 1px;
    padding: 2px;
    height: 5%;
    min-height: 30px;
}

.form-input-medium {
    text-align: start;
    @apply h-1/6;
}

.form-input-large {
    height: 30vb;
}

.form-button {
    @apply rounded-lg w-1/6 min-w-52 self-center shadow-black hover:font-semibold hover:border-2;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    background-color: #8adc5e;
    margin: 5%;
    min-height: 7.5%;
}

.mobile-navigation-menu {
    @apply fixed z-30 h-full w-[70%] bg-white flex flex-col;
}

.mobile-navigation-page-nav-item {
    @apply border-black border-solid top-0 left-0 pl-2;
    border-width: 1px;
    background-color: var(--background-colour);
}

.mobile-navigation-page-nav-item-current {
    @apply border-black border-solid bg-red-400 pl-2;
    border-width: 1px;
}

.mobile-navigation-page-nav-bottom-container {
    @apply fixed flex flex-col-reverse mt-auto bottom-0 w-[70%];
}

.mobile-navigation-page-nav-bottom-item {
    @apply border-black border-solid pl-2;
    border-width: 1px;
    background-color: var(--background-colour);
}

.footer {
    background-color: var(--background-colour);
    place-self: end;
    @apply flex justify-center text-center p-4 w-screen;
}
